.custom-navbar{
    background-color: rgb(1,12,128);
    height: 60px;
    margin-bottom: 60px;
}
.nav-link{
    color: white !important;
}
button.navbar-toggler.collapsed{
    color: white !important;
    background-color: white;
}
@media (max-width: 991px) {
    img{
        height: 40px !important;
    }
  }
  