div .card{
    display: flex
}
.searchOption{
    margin-left: 141px;
    padding-left: 20px;
    border-left: solid lightgray 1px;
    border-right: solid lightgray 1px;
    background-color: white;
}
.searchOption:hover{
    background-color: blue;
    color: white;

}
.searchOption:last-child{
    border-bottom: solid lightgray 1px;
}
.afterTitle{
    background-color: rgb(0,128,255,0.1);
    padding: 10px;
    color: black;
    margin-bottom: 5px;
    border-radius: 5px;
    border: solid black 1px;
}
.rightAfter{
    color: rgb(1,12,128) !important;
}
.display{
    color: white;
    margin-top: 10px
}
.searchImage{
    border: solid black 1px;
}
